%div#log-in-modal
  = form_for user, url: create_session_path do |f|
    %div.form-group.post-form
      = f.email_field :email, placeholder: "E-mail", :class => "form-control"
    %div.form-group.post-form
      = f.password_field :password, placeholder: "Password", :class => "form-control"
    %div.user-edit
      = f.submit "Log in"
    %div.register-user-link
      = link_to("Don't have an account?", "#")
