%h1 #{@subgreen.name}
%h4 SubGreenit
%h6 #{@subgreen.users.length} Subscriber#{@subgreen.users.length == 1 ? "" : "s"}

- if current_user
  - if current_user.subgreens.include?(@subgreen)
    %div
      = link_to("Create Post", new_post_path(:subgreen_id => @subgreen.id))
  - else
    %div
      = link_to(:subscribe => true) do
        Subscribe to <br>"#{@subgreen.name}"
      / # = link_to("Subscribe to '#{@subgreen.name}'", :subscribe => true)

%div
  - @posts = @subgreen.posts
  = render "partials/posts/post_index"

- if current_user
  - if current_user.subgreens.include?(@subgreen)
    %div
      = link_to("Unsubscribe?", :unsubscribe => true)
