%h2
  = @post.title
%div
  - if @post.user
    %h4
      = "Posted by #{link_to(@post.user.username, user_path(@post.user))}".html_safe
  - if @post.subgreen
    %h5
      = "In #{link_to(@post.subgreen.name, subgreen_path(@post.subgreen))}".html_safe

- if embeded_video(@post.url_link)
  %div.video-container
    = link_to(embeded_video(@post.url_link), @post.url_link)
- else
  %div
    = link_to(image_tag("#{@post.url_link}", style: "max-width: 80%; height: auto"), @post.url_link)
%div
  = @post.body
%div
  %div.upvotes
    = "Upvotes: #{@post.up_vote}"
  %div.downvotes
    = "Downvotes: #{@post.down_vote}"
-if current_user
  - if @post.user == current_user
    %div
      = link_to("Edit Post", edit_post_path)
