%div
  - if @posts.length > 0
    - @posts.each do |post|
      %div
        %h4
          = link_to(post.title, post_path(post))
        %div
          - @url = post.url_link
          - if video_thumbnail(@url)
            - @url = video_thumbnail(@url)
          = link_to(image_tag("#{@url}", style: "max-width: 75px; height: auto"), post.url_link)
        %div
          - if post.user
            %div
              = post.user.username
            %div
              = "#{post.comments.length} Comments"
          - else
            = "No User"
        %div
          Up-Votes: #{post.up_vote}
          Down-Votes: #{post.down_vote}
  - elsif current_user.subgreens.length == 0
    %div You are not subscribed to any Subgreenits
    %div
      = link_to("Browse Subgreenits", subgreens_path)
  - else
    %div There are no posts in this Subgreenit yet
    %div
      = link_to("Post?", new_post_path(:subgreen_id => @subgreen.id))
