%div.post-index
  - if @posts.length > 0
    - @posts.each do |post|
      %div.post-single-index
        %div.post-single-index-media
          %div.post-single-index-title
            = link_to(post.title, post_path(post))
          - if post.subgreen
            - unless params[:controller] == "subgreens" and params[:action] == "show"
              %div.post-single-index-subgreenit
                = link_to("#{post.subgreen.name}", subgreen_path(post.subgreen))
          - unless post.url_link == ""
            - if embeded_video(post.url_link)
              %div.post-single-index-video
                = link_to(embeded_video(post.url_link), post_path(post))
            - else
              %div.post-single-index-image
                = link_to(image_tag(post.url_link, style: "max-width: 100%; height: auto"), post_path(post))
          - else
            - if post.body != ""
              %div.post-single-index-body
                #{post.body}
        %div.post-single-index-stats
          %div.post-single-index-username
            - if post.user
              %div
                = "by #{link_to(post.user.username, user_path(post.user))}".html_safe
              %div
                = "#{post.comments.length} Comment#{post.comments.length == 1 ? "" : "s"}"
            - else
              = "No User"
          / %div.post-single-index-votes
          /   .upvotes Up-Votes: #{post.up_vote}
          /   .downvotes Down-Votes: #{post.down_vote}
  - else
    - if params[:controller] == "users"
      %div #{@user.username} has not posted anything yet
    - elsif @subgreen
      %div There are no posts in this Subgreenit yet
      - if current_user
        %div
          = link_to("Post?", new_post_path(:subgreen_id => @subgreen.id))
    - elsif params[:controller] == "posts" and params[:action] == "index"
      Your Subgreenits do not have any posts yet.
      %div
        = link_to("View posts from all Subgreenits?", posts_all_path)
