%h2
  = @post.title
%div
  %h4
    - if @post.user
      = "Posted by #{link_to(@post.user.username, user_path(@post.user))}".html_safe
- if embeded_video(@post.url_link)
  %div.video-container
    = link_to(embeded_video(@post.url_link), @post.url_link)
- else
  %div
    = link_to(image_tag("#{@post.url_link}", style: "max-width: 80%; height: auto"), @post.url_link)
%div
  = @post.body
%div
  %span
    = "Upvotes: #{@post.up_vote}"
  %span
    = "Downvotes: #{@post.down_vote}"
-if current_user
  - if @post.user == current_user
    %div
      = link_to("Edit Post", edit_post_path)
