%h1
  = @user.username
%div.profile-image
  = image_tag(@user.profile_pic, width: "200px", height: "auto")
%br
- if current_user == @user
  %div
    = link_to("Log out", destroy_session_path, class: "")
    = "•"
    = link_to("Edit Account", edit_user_path)
- else
  %div
    %h3 Posts
    - @posts = @user.posts.reverse_order
    = render "partials/posts/post_index"

