= form_for @user do |f|
  %div.form-group.post-form
    = f.text_field :username, :placeholder => "Username", :class => "form-control"
  %div.form-group.post-form
    = f.text_field :profile_pic, :placeholder => "Profile Picture URL", :class => "form-control"
  %div.user-edit
    = f.submit "Edit"
  %div.user-delete
    = link_to("Delete Profile", @user, method: :delete, data: {confirm: "Are you sure?"})
