%h1 Posts#index
%p Find me in app/views/posts/index.html.haml

%div
  = link_to("Create Post", new_post_path)

%div
  - @posts.each do |post|
    %div
      %h4
        = link_to(post.title, post_path(post))
      %div
        - @url = post.url_link
        - if video_thumbnail(@url)
          - @url = video_thumbnail(@url)
        = image_tag "#{@url}", style: "max-width: 50px; height: auto"
      %div
        - if post.user
          = post.user.username
        - else
          = "No User"
      %div
        Up-Votes: #{post.up_vote}
        Down-Votes: #{post.down_vote}
