%h1 Posts#show
%p Find me in app/views/posts/show.html.haml

%div
  %h2
    = @post.title
  %div
    - if embeded_video(@post.url_link)
      = embeded_video(@post.url_link)
    - else
      = image_tag "#{@post.url_link}", style: "max-width: 60%; height: auto"
  %div
    = @post.body
  %div
    %span
      = "Upvotes: #{@post.up_vote}"
    %span
      = "Downvotes: #{@post.down_vote}"
  - if @post.user == current_user
    %div
      = link_to("Edit Post", edit_post_path)
  %div
    = render "partials/comment"
  / %div
  /   = link_to("Comment", create_comment_path)
  - if @comments.length > 0
    %div
      - @comments.each do |comment|
        %div
          %h5
            - if comment.user
              = comment.user.username
            - else
              = "Deleted"
          %div
            = comment.body
          / %div
          /   = image_tag "#{post.url_link}", style: "max-width: 50px; height: auto"
          %div
            Up-Votes: #{comment.up_vote}
            Down-Votes: #{comment.down_vote}
          / %div
          /   = link_to("Comment", create_comment_path)
          - if comment.user == current_user
            %div
              = link_to("Edit", edit_comment_path(comment))
              = link_to("Delete", comment, method: :delete, data: {confirm: "Do you really want to delete comment?"})
  - else
    %div No Comments


