%h1 Posts#show
%p Find me in app/views/posts/show.html.haml

%div
  = render "partials/posts/post_show"
- if current_user
  %div
    = render "partials/comments/comment_form"
- else
  %br
  %div
    = "Please #{link_to('Log in', new_session_path)} to comment".html_safe
  %br
/ %div
/   = link_to("Comment", create_comment_path)
%div
  = render "partials/comments/comment_index"


