%div.post-show
  = render "partials/posts/post_show"
- if current_user
  %div.my-forms.post-show-comment-form
    = render "partials/comments/comment_form"
- else
  %br
  %div.log-in-to-comment
    = "Please #{link_to('Log in', new_session_path)} to comment".html_safe
  %br
%div.post-show-comments-index
  - if @comments.length > 0
    - @comments.each do |comment|
      - unless comment.comment
        = render "partials/comments/comment_index", :comment => comment
  - else
    %div No Comments
